@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') @tailwind base;




.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #081b29;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    /* width: 800px;
    height: 550px; */
    background: transparent;
    border: 2px solid #0ef;
    overflow: hidden;
    box-shadow: 0 0 25px #0ef;
}

.wrapper .form-box {
    position: absolute;
    top: 0;
    /* width: 100%; */
    /* height: 100%; */
    margin-top: 10px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.wrapper .form-box.login {
    left: 0;
    padding: 0 60px 0 40px;
}

.wrapper .form-box.login .animation {
    transform: translateX(0);
    transition: .7s ease;
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.login .animation {
    transform: translateX(-120%);
    transition-delay: calc(.1s * var(--i));
    opacity: 0;
    filter: blur(10px);
}

.wrapper .form-box.register {
    right: 0;
    padding: 0 40px 0 60px;
    pointer-events: none;

}

.wrapper.active .form-box.register {
    right: 0;
    padding: 0 40px 0 60px;
    pointer-events: auto;

}

.wrapper .form-box.register .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));

}

.wrapper.active .form-box.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));



}


.form-box h2 {
    font-size: 32px;
    color: white;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100;
    height: 45px;
    margin: 15px 0px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid white;
    padding-right: 28px;
    transition: 0.5s;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom-color: #0ef;
}


.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -4px;
    color: #0ef;
}

.input-box .icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
}

.input-box input:focus~.icon,
.input-box input:valid~.icon {

    color: #0ef;
}

.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    z-index: -1;
    transition: .5s;
}

.btn:hover::before {
    top: 0;
}

.form-box .logreg-link {
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}

.logreg-link p a {
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a {
    text-decoration: none;
}

.logreg-link p a:hover {
    text-decoration: underline;
}

.wrapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
}

.wrapper .info-text.login {
    right: 0;
    text-align: left;
    padding: 0px 40px 60px 150px;

}

.wrapper .info-text.login .animation {
    transform: translateX(0);
    transition: .7s ease;
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--j));

}

.wrapper.active .info-text.login .animation {
    transform: translateX(120%);
    transition-delay: calc(.1s * var(--i));
    opacity: 0;
    filter: blur(10px);
}

.wrapper .info-text.register {
    left: 0;
    text-align: right;
    padding: 0px 150px 60px 40px;
    pointer-events: none;

}

.wrapper.active .info-text.register {
    pointer-events: auto;
}

.wrapper .info-text.register .animation {
    transform: translateX(-120%);
    transition: .7s ease;
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--j));


}

.wrapper.active .info-text.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));

}

.info-text h2 {
    font-size: 32px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
    padding: 8px 0;
}

.info-text p {
    font-size: 16px;
    color: #fff;
}

.wrapper .bg-animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 950px;
    height: 600px;
    background: linear-gradient(45deg, #081b29, #0ef);
    border-bottom: 3px solid #0ef;
    transform: rotate(5deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}

.wrapper.wrapper.active .bg-animate {
    transform: rotate(0) skewY(0);
    transition-delay: .6s;
}


.wrapper .bg-animate2 {
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #081b29;
    border-top: 3px solid #0ef;
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
}

.wrapper.active .bg-animate2 {
    transform: rotate(-13deg) skewY(-40deg);
    transition-delay: 1.2s;
}

.logo {
    background: #081b29;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0;
    border-radius: 4px;
}

.social-accounts {
    text-align: center;
}

.social-text {
    font-size: 24px;
    font-weight: 600;
    color: #0ef;
    padding: 0 0 10px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.social-icon {
    color: #0ef;
    border: 2px solid #0ef;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.social-icon::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -95px;
    left: 0;
    border: 2px solid #0ef;
    position: absolute;
    transition: 0.5s;

}

.social-icon:hover::after {
    top: 0;
}

.img-upload {
    padding-bottom: 14px;
}

.upload-box {
    font-size: 16px;
    font-weight: 500;
    background: white;
    border: 2px solid #0ef;
    border-radius: 50px;
    width: 100%;
    outline: none;
}

::-webkit-file-upload-button {
    color: white;
    background: #081b29;
    padding: 10px;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 0 1px #0ef;
    outline: none;
    transition: 0.5s ease;
}

::-webkit-file-upload-button:hover {
    background: #0ef;
    transition-delay: .5s ease;
    color: white;
    font-weight: 500;
}