@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Roboto", sans-serif;
}

.loader{
    position: absolute;
    z-index: 50;
    left: 50%;
    top: 50%;
}

.MuiDialog-paperScrollPaper{
    background: rgba(90, 80, 85, 0.20) !important;
    backdrop-filter: blur(20px) !important;
    box-shadow: inset 1px 1px 10px rgba(2, 1, 1, 0.63) !important;
    padding: 10px  20px 20px 20px ;
    border-radius: 20px;
  }